
$white: white;
$bodyColor: #3B4557;
$grey: #707070;
$lightGrey: #D4D4D5;
$darkGrey: #313A4C;
$bluishGrey: #98AECA;
$skyBlue: #5381DB;
$pink: #EB675E;

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');

.ProductRow {
    padding: 5px 10px;
    max-width: 1450px;
    margin: 0 auto;
    position: relative;
    > i.icon {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 28px;
        bottom: 2px;
        color:$bluishGrey;
    }
    table, .ui.table {
        border: 1px solid $lightGrey;
        border-radius: 15px;
        padding:5px;
        color: $bodyColor;
        font-family: 'Work Sans', sans-serif;
        margin:0;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        td {
            padding: 0 10px;
        }
        tr {
            box-shadow: none !important;
        }
    }
    td.image {
        padding:5px!important;
        img {
            display:block;
            max-width: 80px;
            width:100%;
        }
    }
    .productTextCol {
        max-width: 250px;
    }
    .flag {
        display: inline-block;
        margin-right: 19px;
        margin-bottom: -9px;
        img, .ui.image {
            width: 30px;
            height: 30px;
        }
    }
    .icons {
        list-style-type: none;
        li {
            display: inline-block;
            padding:5px;
        }
    }
    .ui.checkbox {
        label {
            &:before {
                border-color: $lightGrey;
            }
        }
        &.checked {
            label {
                &:before {
                    background-color: $darkGrey !important;
                    color: $white;
                }
                &:after {
                    background-color: transparent;
                    color: $white !important;
                }
            }
        }
    }
    .name {
        color:$skyBlue;
        display: inline-block;
        max-width: 250px;
        font-size: 14px;
    }
    .sku {
        font-weight: 500;
        margin-right: 15px;
        font-size: 14px;
    }
    .icons {
        position: relative;
        bottom: -16px;
        .item {
            width: 23px;
            height:30px;
            line-height: 20px !important;
            float: left;
            padding:0 !important;
            margin:0 !important;
            position: relative;
            svg path {
                fill: $bluishGrey;
            }
            &.active {
                svg path {
                    fill: $pink;
                }
            }
        }
    }
    .RowButtons {
        margin-top: -25px;
        display: block;
        width: 20px;
        text-align: center;
        float:right;
        .item {
            svg path {
                fill:$lightGrey;
            }
            &.active {
                svg path {
                    fill:$skyBlue;
                }
            }
        }
    }
}

//tabler 
@media only screen and (max-width: 991px) {
    .ProductRow  {
        td.productTextCol {
            max-width: 100%;
            .flag {
                padding:5px 0 15px;
            }
        }
        td.image {
            min-width: 100px;
            img {
                max-width: 150px;
                margin:0 auto;
            } 
        }
        .ui.table:not(.unstackable) tr {
            box-shadow: none !important;
        }
    }
}

//mobile
@media only screen and (max-width: 600px) {
    .ProductRow  {
        table, .ui.table {
            text-align: center;
        }
        td.productTextCol {
            max-width: 100%;
        }
        .RowButtons {
            width:100%;
            height:55px;
            margin-top:0;
            .ui.list {
                text-align: center;
                width: auto;
                display: inline-block;
            }
        }
     
    }
}